/*add fonts*/
@font-face {
  font-family: bariol;
  src: url(templates/fonts/bariol_regular-webfont.woff2);
}
@font-face {
  font-family: bariol;
  src: url(templates/fonts/bariol_bold-webfont.woff2);
  font-weight: bold;
}



body{
	margin: 0;
	font-family: bariol;
	background-color: #DEE2E6;
}



.page-container{
	min-height: 100vh;


}
.content-container{
	display: flex;
	flex-direction: column;
	height: 100%;

}
.body-container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	min-height: calc(100vh - 5rem);
	
	
}
.page-data-container{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: calc(100% - 9rem);
	min-width: 48rem;
}

/*Mobile*/
@media only screen and (max-width : 825px) {
	.body-container {
	    display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    min-height: calc(100vh - 5rem);
	}
	.page-data-container {
	    display: flex;
	    flex-wrap: nowrap;
	    justify-content: center;
	    width: calc(100% - 9rem);
	    min-width: 100%;
	}
	table,
	  tbody,
	  th,
	  td,
	  tr,
	  tfoot {
	    display: block	;

		
		
	 }
	 tbody{
	 	margin-top: 1rem;
	 }
	 thead{
	 	display: block;
	 }
	tbody td::before {
	    content: attr(data-label);
	    float: left;
	    text-transform: uppercase;
	    font-weight: bold;
	}
	table td{
		text-align: right!important;
	}

	tfoot td::before {
	    content: attr(data-label);
	    float: left;
	    text-transform: uppercase;
	    word-break: break-word;
	    font-weight: bold;
	    margin-right: 2rem;

	}
	tfoot{
		background-color: lightgreen!important;
	}
	tfoot td{
		text-align: right!important;
		word-wrap: all;

	}
	tfoot th{
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1.1rem;

	}
}
