.links_list{
	margin-top: 2rem;
}
.link-item{
	font-size: 1.1rem;
	font-weight: bold;
}
.donate{
	margin-top: 1rem;
	width: 100%;

}
.donate-input{
	width: 22rem;
	padding: 0.375rem 0.5rem 0.375rem 0.5rem;
	font-size: 1rem;

}
.donate-qr{
	width: 15rem;
	height: 15rem;
}
.btn{
	vertical-align: initial;
	border-radius: 0;
	border: 2px solid transparent;
}

/*Mobile*/
@media only screen and (max-width : 600px) {
	.donate-input{
		width: 95%;
		margin-bottom: 1rem;
	

	}	

}

