/*Navbar*/
.nav-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 5rem;
	background-color: #ab0000;
	min-width: 57rem;
}
.header-logo-c{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 10rem;
	margin-bottom: 1rem;
}
.header-logo-c > div{
	height: 100%;
	margin-left: 0.5rem;
}
.header-logo{
	width: 4rem;
	height: 4rem;
}
.header-watcher{
	font-size: 1.75rem;
	font-weight: bolder;
	color: white;
}
.header-options-c{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	min-width: calc(100% - 10rem);
}
.header-options-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	color: white;
	font-size: 1.15rem;
	font-weight: bold;
	margin-left: 0.5rem;
}
.header-option{
	margin: 0.5rem;
}