.top-open-container{
	display: flex;
	flex-direction: column;
	min-width: 40rem;
	width: 75%;
	margin-top: 2.5rem;
	border: 6px solid #b40101; 
	background-color: white;
}
.top-open-header{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
	font-weight: bold;
	background-color: #b40101;
	color: white;
	margin-bottom: 1rem;
}
.top-open-total{
	display: flex;
	flex-direction: column;
	margin: 0 1rem 1rem 1rem;

}
.table-date-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	

}
.date-picker{
	margin: 1rem 1rem 1rem 0;
	font-weight: bold;
}
.date-picker > label{
	width: 5rem;
}
.open-total-header{
	font-size: 1.25rem;
	font-weight: bold;
	background-color: #b40101;
	color: white;
	padding-left: 0.5rem;

}
.open-total-item{
	display: flex;
	flex-direction: row;

	align-items: center;
	border: 1px solid lightgrey;
	font-weight: bold;
	padding-left: 0.5rem;

}
.open-span{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding-right: 0.5rem;
	width: 100%;

}

.top-open-list-container{
	display: flex;
	flex-direction: column;
	margin: 1rem;
	display: table;
}
.big-bets-limit{
	margin-left: 1rem;
	font-weight: bold;
	font-size: 0.8rem;
}

/*Mobile*/
@media only screen and (max-width : 600px) {
	.top-open-container {
	    display: flex;
	    flex-direction: column;
	    min-width: 100%;
	    width: 75%;
	    margin-top: 2.5rem;
	    border: 6px solid #b40101;
	    background-color: white;
	}
	
	

}
